.button{
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: rgb(148, 44, 44);
        color: rgb(253, 229, 229);
    }

    &:active{
        transform: scale(0.9);
    }
}

